@import "../../../styles/styles.scss";

.formBody {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.btn-primary {
  background-color: #6e8efb;
  border-color: #6e8efb;
}
.btn-primary:hover {
  background-color: #5c7cfa;
  border-color: #5c7cfa;
}
