*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

// .container {
//   margin: 1rem auto;
//   overflow: hidden;
//   min-height: calc(100vh - 14rem);
// }
