$color-text: #141414;
$color-text-light: #1d1d1d;
$color-text-bright: #fff;
$color-primary: #3498db;
$color-secondary: #218c74;
$color-background: #fff;

$color-success: #01916d;
$color-success-back: #00bc8c;
$color-info: #2b7cb3;
$color-info-back: #3598db;
$color-warning: #f0932b;
$color-warning-back: #d68529;
$color-danger: #f0932b;
$color-danger-back: #d68529;
$color-error: #ea2027;
$color-error-back: #ff5d6c;

$color-textfield-border: #ddd;
$color-editor-border: #ccc;
$color-editor-border-light: #ddd;

$font-header: sans-serif;
$font-text: sans-serif;

$radius: 5px;
$base-size: 14px;
$transition: all 0.5s;

@mixin p-el($element) {
  &:#{$element},
  &::#{$element} {
    position: absolute;
    @content;
  }
}

$base-padding: 24px;

$text-color: #2a2a2a;

// COLOR PALLETTE
$primary: #d58e32;
$black: #000000;
$dark-grey: #2a2a2a;
$darker-grey: #363636;
$white: #ffffff;
$grey: #b6b6b6;
$primary: #d58e32;
$teal-tint: rgba(1, 2, 2, 0.2);
$white-peach: rgb(247, 243, 243);

$test-color: rgb(255, 0, 200);

// COMPONENT & ELEMENT COLORS
$form-border-color: $dark-grey;
$form-border-color: $dark-grey;
$form-searchbox-text-color: $dark-grey;
$form-searchbox-placeholder-text-color: $dark-grey;
$form-searchbox-icon-text-color: $primary;
$form-border-width: 1px;
$form-searchbox-bg-color: $white;
$form-searchbox-hover-bg-color: $primary;
